* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    font-family: "Roboto", sans-serif;
  }
  
  .menu__link {
    font-size: calc(12px + 0.5208333333vw);
    color: green;
    font-weight: bold;
    text-decoration: none;
  }
  
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .sub-menu__list.open {
    display: block;
  }
  
  .arrow.active {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  
  body.mouse .menu__list > li:hover .sub-menu__list {
    display: block;
  }
  
  body.touch .arrow {
    display: block;
  }
  
  .menu li {
    list-style: none;
    position: relative;
  }
  
  .menu a.parent {
    margin-left: 30px;
  }
  
  .menu__list > li {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .sub-menu__link {
    color: white;
    display: inline-block;
    padding: 5px 10px;
    font-size: 17px;
    font-size: calc(16px + 0.2604166667vw);
    text-decoration: none;
  }
  
  .sub-menu__list > li {
    background-color: #70ac48;
    min-width: 150px;
  }
  
  .sub-menu__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: none;
    position: absolute;
    padding-top: 10px;
    left: 0;
    top: 20px;
    color: white;
  }
  
  .arrow {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    display: none;
    width: 0;
    height: 0;
    border-top: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    right: 0;
    top: 12px;
  }
  
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
  
  .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  
  .footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .hr {
    background-color: green;
    padding: 1.25px;
  }
  .hr2 {
    background-color: green;
    padding: 1px;
    margin-bottom: 8px;
  }
  .footer_info {
    text-align: right;
    color: green;
    font-size: calc(9px + 0.5208333333vw);
    padding: 20px;
  }
  
  .footer_info ul li {
    list-style: none;
  }
  
  .a {
    text-decoration: none;
    color: white;
  }
  
  .footer_img {
    max-height: 50px;
    padding-left: 15px;
  }
  
  .description_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin: 100px 30px 0 30px;
    padding: 20px;
  }
  .description_container img {
    width: 500px;
    border-radius: 5px;
  }
  .text_description {
    font-weight:bold;
    max-width: 400px;
    background-color: #70ac48;
    border-radius: 25px;
    margin:0 30px 0 30px;
  }
  .text_description p {
    padding: 10px;
    font-size: calc(15px + 0.5208333333vw);
  }
  .span{
    text-decoration: underline;
  }
  .text_description .ul {
    padding: 10px;
    font-size: calc(21px + 0.5208333333vw);
    text-align: center;
  }
  .text_description ul li {
    padding: 6px;
    font-size: calc(15px + 0.5208333333vw);
    list-style: none;
  }
  
  .experience p {
    max-width: 2000px;
    font-size: calc(20px + 0.5208333333vw);
    padding-bottom: 200px;
  }
  .experience >h1 {
    display: block;
    margin-top: 100px;
    margin-left: 88px;
    font-size: calc(30px + 0.5208333333vw);
  }
  .sub_experience {
    display: flex;
    max-width: 90%;
    margin-top: 50px;
    margin-left: 88px;
    text-align: justify;
    align-items: center;
  }
  .img{
    min-width: 400px;
    min-height: 300px;
    padding-inline-end:20px;

  }
  .img1{
    min-width: 400px;
    max-height: 550px;
    padding-inline-start:20px;

  }
  .h3 {
    display: block;
    margin-top: 100px;
    margin-left: 88px;
    font-size: calc(30px + 0.5208333333vw);
  }
  .torch p {
    padding-bottom: 50px;
    max-width: 500px;
    padding-left: 88px;
    display: flex;
    font-size: calc(20px + 0.5208333333vw);
    text-align: justify;
  }
  .torch {
    align-items: center;
    min-width: 1300px;
    padding-right: 150px;
    display: flex;
    justify-content:space-around;
    font-size: calc(20px + 0.5208333333vw);
    text-align: justify;
    min-height: 100px;
    margin-top: 50px;
  }
.last_container {
  align-items: center;
    min-width: 1300px;
    display: flex;
    justify-content: center;
    font-size: calc(20px + 0.5208333333vw);
    text-align: justify;
    min-height: 100px;
    padding-top: 50px ;
}
.sub_last_container {
  max-width: 2700px;
  text-align: center;
  margin: 20px 20px 20px 20px;
  flex-direction: column;
  display: flex;
}
.sub_last_container1 {
  max-width: 2700px;
  margin: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
}
.sub_last_container p{
  text-align: right;
  max-width: 500px;
}
.img2{
  max-height: 250px;
  padding-inline-start: 20px;
  border-radius: 50%;
}
.span1 {
  font-weight: bold;
}